<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

 <p><%= button_to 'Back to all articles', articles_path, method: :get %></td></p>