@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: #000000 !important;
    
    }

    .navbar-brand {

        font-size: 1rem;
        
        }

    .nav-link {

      color: white !important;

    }

    #logo {
        float: left;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: bold;
    }

    #home-container {
        margin-top: 25px;

    }

    #main-banner {
        background-image: asset-url('articles.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 425px;
    }

    // .sticky-footer {
    //     width: auto;
    //     max-width: 680px;
    //     padding: 0 15px;
    //   }

    html,
    body {
        height: 100%;
    }

    #page-content {
        flex: 1 0 auto;
        background-color: lightgrey;
    }

    #sticky-footler {
        flex-shrink:none;
    }